* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
header {
    background-color: #1376bd;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px;
    justify-content: center;
    text-transform: uppercase;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

ul li {
    padding: 8px 0;
    cursor: pointer;
    position: relative;
    background: #eee;
    color: #000;
    font-size: 18px;
    transition: 0.5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

ul li.feito {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
